.container {
  display: grid;
  grid-area: 1 / 1 / 1 / 1;
  margin: 0;
  padding: 0;
}

.background {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.foreground {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

.placeholder {
  contain: size;
  width: 100%;
}
