.container {
  display: grid;
}

.background {
  grid-area: 1 / 1 / 1 / 1;
  background: linear-gradient(180deg, #14191c 29.69%, #010101 100%);
  min-height: 100vh;
}

.contentContainer {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tablet {
  display: none;
}

.mobile {
  display: block;
  width: 100%;
}

@media screen and (min-width: 845px) {
  .contentContainer {
    display: grid;
    grid-area: 1fr / 1fr;
    align-items: stretch;
    justify-content: normal;
  }

  .tablet {
    display: grid;
    width: 100%;
  }

  .mobile {
    display: none;
  }
}
